@model CNPMNC_BANHANG.Models.SANPHAM

@{
    ViewBag.Title = "Xoasanpham";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<h2>XÁC NHẬN THÔNG TIN SẢN PHẨM CẦN XÓA</h2>

<h3>Bạn quyết định xóa sản phẩm này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal size-dt size-dd">
        <dt>
            Tên sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tensanpham)
        </dd>

        <dt>
            Giá
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.gia) VNĐ
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd style="width:600px;text-align:justify">
            @Html.DisplayFor(model => model.mota)
        </dd>

        <dt>
            Hình ảnh:
        </dt>

        <dd>
            <img src="@Url.Content("~/img/"+Model.hinh)" width="120px" />
        </dd>

        <dt>
            Ngày cập nhật:
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.ngaycapnhat)
        </dd>

        <dt>
            Loại sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAISANPHAM.tenloai)
        </dd>

        <dt>
            Nhà cung cấp:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHACUNGCAP.tenncc)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin-left:20px;font-size:18px">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("TRỞ VỀ", "Sanpham")
        </div>
    }
</div>
<style>
    dl.size-dt dt {
        font-size: 18px;
    }

    dl.size-dd dd {
        font-size: 12px;
    }
</style>
