@model IEnumerable<CNPMNC_BANHANG.Models.CHITIETDONHANG>

@{
    ViewBag.Title = "Donhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Đơn hàng của tôi</h2>
<table class="table table-hover">
    <thead style="text-align:center">
        <tr>
            <th>
                Mã đơn hàng
            </th>
            <th>
                Ngày mua
            </th>
            <th>
                Sản phẩm
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Tổng tiền
            </th>
            <th>
                Trạng thái đơn hàng
            </th>
        </tr>
    </thead>
    <tbody style="text-align:center">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.mahd)
                </td>
                <td>
                    @String.Format("{0:dd/MM/yyyy}", item.DONHANG.ngaytao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SANPHAM.tensanpham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.soluong)
                </td>
                <td>
                    @String.Format("{0:0,0}", item.thanhtien) VNĐ
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TINHTRANG.tentinhtrang)
                </td>
            </tr>
        }
    </tbody>
</table>
